{% extends "./partials/layout.njk" %}
{% block content %}
  <p id="hi">Hello!</p>
  <a href="/">Back to home</a>
{% endblock %}
{% block js %}
  <script type="module" src="../scripts/about.js"></script>
{% endblock %}
